<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CSLibrary.Properties.Settings>
            <setting name="DefaultAntennaSettings" serializeAs="String">
                <value>0,ENABLED,300,2000,0,0,0,1048575;
1,DISABLED,300,2000,0,4,4,1048575;
2,DISABLED,300,2000,0,8,8,1048575;
3,DISABLED,300,2000,0,12,12,1048575;
4,DISABLED,300,2000,0,1,1,1048575;
5,DISABLED,300,2000,0,5,5,1048575;
6,DISABLED,300,2000,0,9,9,1048575;
7,DISABLED,300,2000,0,13,13,1048575;
8,DISABLED,300,2000,0,2,2,1048575;
9,DISABLED,300,2000,0,6,6,1048575;
10,DISABLED,300,2000,0,10,10,1048575;
11,DISABLED,300,2000,0,14,14,1048575;
12,DISABLED,300,2000,0,3,3,1048575;
13,DISABLED,300,2000,0,7,7,1048575;
14,DISABLED,300,2000,0,11,11,1048575;
15,DISABLED,300,2000,0,15,15,1048575;</value>
            </setting>
        </CSLibrary.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
